{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/.BOOTSTRAP.css' %}">
    <link rel="stylesheet" href="{% static 'css/.CHATGPTS VERSION.css' %}">
    <link rel="stylesheet" href="{% static 'css/.BRITANNIC BOLD.css' %}">
    <link rel="stylesheet" href="{% static 'css/mod.css' %}">
    <link rel="stylesheet" href="{% static 'css/temp.css' %}">
    <title>TAGPRISE</title>
</head>
<body>

    {% include '.NAV.html' %}
    {% block content %}

    {% endblock %}
    {% include '.FOOTER.html' %}

<script src="{% static 'js/.BOOTSTRAP.js' %}"></script>
</body>
</html>