{% extends '.BASE.html' %}
{% load static %}
{% block content %}

<div class="MOD-carousel w-100">
    <div class="MOD-carousel-2nd h-auto mx-auto">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'assets/CarouselBanners/B1.jpg' %}" class="w-100 d-block pe-none user-select-none" draggable="false">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'assets/CarouselBanners/B2.jpg' %}" class="w-100 d-block pe-none user-select-none" draggable="false">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'assets/CarouselBanners/B3.jpg' %}" class="w-100 d-block pe-none user-select-none" draggable="false">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>

<div class="MOD-pagecontent">
    <div class="MOD-pagecontent-2nd mx-auto">
        <div class="MOD-pageitems w-100 d-flex flex-column">
            <div class="MOD-table-1st w-100 d-flex flex-column justify-content-center user-select-none">
                <div class="MOD-table-title w-100 d-flex align-items-center justify-content-center">
                    <span class="MOD-table-title-span">BRANDS ON OFFER</span>
                </div>
                <div>
                    <div class="MOD-table-itemcontents w-100 ps-0 d-flex align-items-center">
                    <div class="MOD-table-itemcontents-li d-flex flex-column align-items-stretch">
                        <img src="{% static 'assets/PageContents/BrandsPromo/NIVEA-LOGO.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                        <span class="MOD-table-itemcontents-brandtitle mx-auto text-center">NIVEA</span>
                        <span class="MOD-table-itemcontents-branddetail h-auto mx-auto text-center">
                            Up to 90% off <br>
                            on selected items <br>
                            Promo runs until 2/3/2024 <br>
                        </span>
                    </div>
                    <div class="MOD-table-itemcontents-li d-flex flex-column align-items-stretch">
                        <img src="{% static 'assets/PageContents/BrandsPromo/ADIDAS-LOGO.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                        <span class="MOD-table-itemcontents-brandtitle mx-auto text-center">ADIDAS</span>
                        <span class="MOD-table-itemcontents-branddetail h-auto mx-auto text-center">
                            Up to 15% off <br>
                            on selected items <br>
                            Promo runs until March 15-18 <br>
                        </span>
                    </div>
                    <div class="MOD-table-itemcontents-li d-flex flex-column align-items-stretch">
                        <img src="{% static 'assets/PageContents/BrandsPromo/SANDISK-LOGO.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                        <span class="MOD-table-itemcontents-brandtitle mx-auto text-center">SANDISK</span>
                        <span class="MOD-table-itemcontents-branddetail h-auto mx-auto text-center">
                            Up to 30% off when you  <br>
                            purchase min of 2 items <br>
                            Promo runs until March 15-18 <br>
                        </span>
                    </div>
                    <div class="MOD-table-itemcontents-li d-flex flex-column align-items-stretch">
                        <img src="{% static 'assets/PageContents/BrandsPromo/RAYBAN-LOGO.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                        <span class="MOD-table-itemcontents-brandtitle mx-auto text-center">RAY-BAN</span>
                        <span class="MOD-table-itemcontents-branddetail h-auto mx-auto text-center">
                            Offers Free Shipping <br>
                            to all RAY-BAN items <br>
                            Promo runs until 6/19/2024 <br>
                        </span>
                    </div>
                    <div class="MOD-table-itemcontents-li d-flex flex-column align-items-stretch">
                        <img src="{% static 'assets/PageContents/BrandsPromo/FILA-LOGO.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                        <span class="MOD-table-itemcontents-brandtitle mx-auto text-center">FILA</span>
                        <span class="MOD-table-itemcontents-branddetail h-auto mx-auto text-center">
                            Up to 43% off <br>
                            on selected items Promo  <br>
                            effects on 113th anniversary <br>
                        </span>
                    </div>
                    <div class="MOD-table-itemcontents-li d-flex flex-column align-items-stretch">
                        <img src="{% static 'assets/PageContents/BrandsPromo/DOVE-LOGO.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                        <span class="MOD-table-itemcontents-brandtitle mx-auto text-center">DOVE</span>
                        <span class="MOD-table-itemcontents-branddetail h-auto mx-auto text-center">
                            Up to 20% off <br>
                            on selected items <br>
                            Promo runs until 6/19/2024 <br>
                        </span>
                    </div>
                    <div class="MOD-table-itemcontents-li d-flex flex-column align-items-stretch">
                        <img src="{% static 'assets/PageContents/BrandsPromo/APPLE-LOGO.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                        <span class="MOD-table-itemcontents-brandtitle mx-auto text-center">APPLE</span>
                        <span class="MOD-table-itemcontents-branddetail h-auto mx-auto text-center">
                            Up to 15% off <br>
                            on selected items <br>
                            Promo runs until 2/3/2024 <br>
                        </span>
                    </div>
                    </div>
                </div>
            </div>

            <div class="MOD-table-1st w-100 d-flex flex-column justify-content-center user-select-none">
                <div class="MOD-table-title w-100 d-flex align-items-center justify-content-center">
                    <span class="MOD-table-title-span">YOU MIGHT ALSO LIKE</span>
                </div>
                <div class="w-100 d-flex flex-column justify-content-center">
                    <div class="MOD-table-itemcontents-2 w-100 d-flex flex-wrap align-items-center">
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/JORDAN-STADIUM-90.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">JORDAN STADIUM 90</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Rubber Shoes / Apparel <br>
                                    Nike / Jordan <br>
                                    4 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱7,895.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/UNIQLO-DRY-EX-CREW-NECK-SHORT-SLEEVE-T-SHIRT.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">UNIQLO DRY-EX CREW NECK SHORT SLEEVE T-SHIRT</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    T-Shirt / Apparel <br>
                                    Uniqlo <br>
                                    4 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱590.00<span class="productb4sale">₱790.00</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/LEVI’S-RED-TAB-VINTAGE-TSHIRT.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">LEVI’S RED TAB VINTAGE T-SHIRT</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    T-Shirt / Apparel <br>
                                    Levi’s <br>
                                    17 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱1,319.40</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/THE-TORTURED-POETS-DEPARTMENT-CD.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">THE TORTURED POETS DEPARTMENT CD</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    CD / Music <br>
                                    Republic Records <br>
                                    4 Variants
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱722.41</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/ADICOLOR-CLASSIC-STONEWASHED-BUCKET-HAT.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">ADICOLOR CLASSIC STONEWASHED BUCKET HAT</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Heargear / Apparel <br>
                                    Adidas <br>
                                    2 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱1,800.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/TOKYO-RUNNING-JACKET.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">TOKYO RUNNING JACKET</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Outerwear / Apparel <br>
                                    Adidas <br>
                                    1 Color
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱5,300.40</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/AQUAFLASK-18OZ-STELLAR-COLLECTION.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">AQUAFLASK 18OZ STELLAR COLLECTION</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Tumbler / Utensils <br>
                                    Aquaflask <br>
                                    8 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱790.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/DIOR-SAUVAGE-PARFUM.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">DIOR SAUVAGE PARFUM</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Fragrance / Cosmetics <br>
                                    Dior <br>
                                    1 Variant
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱10,000.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/DOVE-MEN+CARE-DEEP-CLEAN-BODY-WASH.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">DOVE MEN+CARE DEEP CLEAN BODY WASH</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Body Wash / Cosmetics <br>
                                    Dove <br>
                                    1 Variant
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱99.00<span class="productb4sale">₱139.00</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/PUMA-ACADEMY-BAGPACK.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">PUMA ACADEMY BAGPACK</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Bag / Apparel <br>
                                    Puma <br>
                                    3 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱2,000.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/GSQUAD-DW5600EX1.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">G-SQUAD DW-H5600EX-1</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Watch / Apparel <br>
                                    Casio <br>
                                    1 Color
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱25,100.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/UA-BRAWLER-2.0-TAPERED-PANTS.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">UA BRAWLER 2.0 TAPERED PANTS</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Pants / Apparel <br>
                                    Under Armour <br>
                                    1 Color
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱1,525.75<span class="productb4sale">₱1795.00</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/NIKE-AIR-MAX-AP.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">NIKE AIR MAX AP</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Rubber Shoes / Apparel <br>
                                    Nike <br>
                                    4 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱5,095.40</span>
                                </div>
                            </a>
                        </div>
                        <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                            <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                                <img src="{% static 'assets/PageContents/OffersForYou/HAWKERS-CARBON-BLACK-EMERALD-ONE.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                                <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                    <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">HAWKERS CARBON BLACK EMERALD ONE</span>
                                    <span class="MOD-table-itemcontents-productdetail">
                                    Eyewear / Apparel <br>
                                    Hawkers <br>
                                    49 Colors
                                    </span>
                                    <span class="MOD-table-itemcontents-productprice">₱849.25<span class="productb4sale">₱2124.00</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        
        
    </div>
</div>

{% endblock %}