{% extends '.BASE.html' %}
{% load static %}
{% block content %}

<div class="MOD-itemselect-pagecontent">
    <div class="MOD-itemselect-pagecontent-2nd mx-auto d-flex flex-column">
        <div class="d-flex flex-row user-select-none">
            <div class="MOD-itemselect-pagecontent-col1 d-flex flex-column align-items-start">
                <div class="MOD-itemselect-pagecontent-itempics w-100 d-flex">
                    <div class="d-flex flex-column">
                        <img src="{% static 'assets/PageContents/ItemSelectPlaceholders/2.png' %}" class="MOD-itemselect-pagecontent-itempics-pic-1">
                        <img src="{% static 'assets/PageContents/ItemSelectPlaceholders/3.png' %}" class="MOD-itemselect-pagecontent-itempics-pic-1">
                        <img src="{% static 'assets/PageContents/ItemSelectPlaceholders/4.png' %}" class="MOD-itemselect-pagecontent-itempics-pic-1">
                    </div>
                    <img src="{% static 'assets/PageContents/ItemSelectPlaceholders/1.png' %}" class="MOD-itemselect-pagecontent-itempics-pic-2">
                </div>
                <div class="MOD-itemselect-pagecontent-receiving w-100 d-flex flex-column">
                    <div class="MOD-itemselect-pagecontent-receiving-title w-100 d-flex align-items-center justify-content-center">
                        <span class="MOD-itemselect-pagecontent-receiving-title-span">RECEIVING METHOD</span>
                    </div>
                    <div class="MOD-itemselect-pagecontent-receiving-details w-100 d-flex flex-column">
                        <div class="MOD-itemselect-pagecontent-receiving-2-pickup d-flex flex-column">
                            <span class="pickup-delivery-span">PICK-UP:</span>
                            <div class="w-100 d-flex flex-column">
                                <span class="pickup-delivery-details-span">Available pickup in NCR, Regions I, II, III, IV, V, VIII, X, XII</span>
                            </div>
                        </div>
                        <div class="MOD-itemselect-pagecontent-receiving-2 d-flex flex-column">
                            <span class="pickup-delivery-span">DELIVERY:</span>
                            <div class="w-100 d-flex flex-column">
                                <span class="pickup-delivery-details-span">
                                    Available for Standard Delivery <br>
                                    Available for Same-Day (+200 on Shipping Fee)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="MOD-itemselect-pagecontent-itemdescription w-100 d-flex flex-column">
                    <div class="MOD-itemselect-pagecontent-itemdescription-2nd w-100 d-flex flex-column">
                        <span class="MOD-itemselect-pagecontent-itemdescription-span">
                            Comfort is king, but that doesn't mean you have to sacrifice style. Taking design inspiration from the AJ1 and AJ5, the Stadium 90 is ready for everyday wear. The upper is made from synthetic leather and textiles, sporting a combination of the AJ1 toe box and flame details from the AJ5. Nike Air cushioning makes every step as effortless as your style.
                        </span>
                    </div>
                </div>
            </div>
            <div class="MOD-itemselect-pagecontent-col2 d-flex flex-column align-items-end">
                <div class="MOD-itemselect-producttitleprice w-100 d-flex flex-column">
                    <div class="MOD-itemselect-producttitleprice-2nd w-100 d-flex flex-column">
                        <span class="MOD-itemselect-producttitleprice-name">JORDAN STADIUM 90</span>
                        <div class="d-flex flex-column">
                            <span class="MOD-itemselect-producttitleprice-detail-span">
                                Rubber Shoes / Apparel <br>
                                Nike / Jordan
                            </span>
                        </div>
                        <span class="MOD-itemselect-producttitleprice-price"><span>₱7,895.00</span></span>
                    </div>
                </div>
                <div class="MOD-itemselect-colorselection w-100 d-flex flex-column">
                    <div class="MOD-itemselect-colorselection-title w-100 d-flex align-items-center justify-content-center">
                        <span class="MOD-itemselect-colorselection-title-span"><span class="title-color-span">COLORS : </span>White/Cool Grey/Black</span>
                    </div>
                    <div class="MOD-itemselect-colorselection-choices w-100 ps-0 d-flex flex-wrap">
                        <div class="MOD-itemselect-colorselection-choices-item d-flex">
                            <img src="{% static 'assets/PageContents/ColorSelectionPlaceholder/1.png' %}" class="w-100 h-100">
                        </div> 
                        <div class="MOD-itemselect-colorselection-choices-item d-flex">
                            <img src="{% static 'assets/PageContents/ColorSelectionPlaceholder/2.png' %}" class="w-100 h-100">
                        </div> 
                        <div class="MOD-itemselect-colorselection-choices-item d-flex">
                            <img src="{% static 'assets/PageContents/ColorSelectionPlaceholder/3.png' %}" class="w-100 h-100">
                        </div> 
                        <div class="MOD-itemselect-colorselection-choices-item d-flex">
                            <img src="{% static 'assets/PageContents/ColorSelectionPlaceholder/4.png' %}" class="w-100 h-100">
                        </div> 
                        <div class="MOD-itemselect-colorselection-choices-item d-flex">
                            <img src="{% static 'assets/PageContents/ColorSelectionPlaceholder/5.png' %}" class="w-100 h-100">
                        </div> 
                    </div>
                </div>
                <div class="MOD-itemselect-sizeselection w-100 d-flex flex-column">
                    <div class="MOD-itemselect-sizeselection-title w-100 d-flex align-items-center justify-content-center">
                        <span class="MOD-itemselect-sizeselection-title-span"><span class="title-size-span">SIZE : </span>US 11</span>
                    </div>
                    <div class="MOD-itemselect-sizeselection-choices w-100 ps-0 d-flex flex-wrap">
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 7</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 7.5</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 8</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 8.5</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 9</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 9.5</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 10</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 10.5</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 11</span></span>
                        </div> 
                        <div class="MOD-itemselect-sizeselection-choices-item d-flex align-items-center justify-content-center">
                            <span class="MOD-itemselect-sizeselection-title-span"><span>US 11.5</span></span>
                        </div> 
                    </div>
                </div>
                <div class="MOD-itemselect-checkout d-flex flex-row">
                    {% if user.is_authenticated %}
                        <button class="MOD-button-addtocart btn text-center">ADD TO CART</button>
                        <button class="MOD-button-checkout MOD-Secondary-Color-bg btn text-center">CHECKOUT</button>
                    {% else %}
                        <button class="MOD-button-addtocart btn text-center" data-bs-toggle="offcanvas" data-bs-target="#LoginOffcanvas">ADD TO CART</button>
                        <button class="MOD-button-checkout MOD-Secondary-Color-bg btn text-center" data-bs-toggle="offcanvas" data-bs-target="#LoginOffcanvas">CHECKOUT</button>
                    {% endif %}
                </div>
                <div class="MOD-itemselect-pagecontent-reviews w-100 d-flex flex-column">
                    <div class="MOD-itemselect-pagecontent-reviews-title w-100 d-flex align-items-center justify-content-center">
                        <span class="MOD-itemselect-pagecontent-reviews-title-span">REVIEWS</span>
                    </div>
                    <div class="MOD-itemselect-pagecontent-reviews-details w-100 d-flex flex-column">
                        <span class="MOD-itemselect-pagecontent-reviews-details-span">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="MOD-table-1st w-100 d-flex flex-column justify-content-center user-select-none">
            <div class="MOD-table-title w-100 d-flex align-items-center justify-content-center">
                <span class="MOD-table-title-span">YOU MIGHT ALSO LIKE</span>
            </div>
            <div class="w-100 d-flex flex-column justify-content-center">
                <div class="MOD-table-itemcontents-2 w-100 d-flex flex-wrap align-items-center">
                    <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                        <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                            <img src="{% static 'assets/PageContents/OffersForYou/JORDAN-STADIUM-90.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                            <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">JORDAN STADIUM 90</span>
                                <span class="MOD-table-itemcontents-productdetail">
                                Rubber Shoes / Apparel <br>
                                Nike / Jordan <br>
                                4 Colors
                                </span>
                                <span class="MOD-table-itemcontents-productprice">₱7,895.00</span>
                            </div>
                        </a>
                    </div>
                    <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                        <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                            <img src="{% static 'assets/PageContents/OffersForYou/UNIQLO-DRY-EX-CREW-NECK-SHORT-SLEEVE-T-SHIRT.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                            <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">UNIQLO DRY-EX CREW NECK SHORT SLEEVE T-SHIRT</span>
                                <span class="MOD-table-itemcontents-productdetail">
                                T-Shirt / Apparel <br>
                                Uniqlo <br>
                                4 Colors
                                </span>
                                <span class="MOD-table-itemcontents-productprice">₱590.00<span class="productb4sale">₱790.00</span></span>
                            </div>
                        </a>
                    </div>
                    <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                        <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                            <img src="{% static 'assets/PageContents/OffersForYou/LEVI’S-RED-TAB-VINTAGE-TSHIRT.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                            <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">LEVI’S RED TAB VINTAGE T-SHIRT</span>
                                <span class="MOD-table-itemcontents-productdetail">
                                T-Shirt / Apparel <br>
                                Levi’s <br>
                                17 Colors
                                </span>
                                <span class="MOD-table-itemcontents-productprice">₱1,319.40</span>
                            </div>
                        </a>
                    </div>
                    <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                        <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                            <img src="{% static 'assets/PageContents/OffersForYou/THE-TORTURED-POETS-DEPARTMENT-CD.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                            <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">THE TORTURED POETS DEPARTMENT CD</span>
                                <span class="MOD-table-itemcontents-productdetail">
                                CD / Music <br>
                                Republic Records <br>
                                4 Variants
                                </span>
                                <span class="MOD-table-itemcontents-productprice">₱722.41</span>
                            </div>
                        </a>
                    </div>
                    <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                        <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                            <img src="{% static 'assets/PageContents/OffersForYou/ADICOLOR-CLASSIC-STONEWASHED-BUCKET-HAT.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                            <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">ADICOLOR CLASSIC STONEWASHED BUCKET HAT</span>
                                <span class="MOD-table-itemcontents-productdetail">
                                Heargear / Apparel <br>
                                Adidas <br>
                                2 Colors
                                </span>
                                <span class="MOD-table-itemcontents-productprice">₱1,800.00</span>
                            </div>
                        </a>
                    </div>
                    <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                        <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                            <img src="{% static 'assets/PageContents/OffersForYou/TOKYO-RUNNING-JACKET.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                            <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">TOKYO RUNNING JACKET</span>
                                <span class="MOD-table-itemcontents-productdetail">
                                Outerwear / Apparel <br>
                                Adidas <br>
                                1 Color
                                </span>
                                <span class="MOD-table-itemcontents-productprice">₱5,300.40</span>
                            </div>
                        </a>
                    </div>
                    <div class="MOD-table-itemcontents-li li-2 d-flex flex-column align-items-stretch">
                        <a class="MOD-table-itemcontents-a" href="{% url 'item_select' %}">
                            <img src="{% static 'assets/PageContents/OffersForYou/AQUAFLASK-18OZ-STELLAR-COLLECTION.png' %}" class="li-brandlogo pe-none user-select-none" draggable="false">
                            <div class="MOD-table-itemcontents-productattributtes h-auto d-flex flex-column align-items-center">
                                <span class="MOD-table-itemcontents-producttitle mx-auto text-center overflow-hidden">AQUAFLASK 18OZ STELLAR COLLECTION</span>
                                <span class="MOD-table-itemcontents-productdetail">
                                Tumbler / Utensils <br>
                                Aquaflask <br>
                                8 Colors
                                </span>
                                <span class="MOD-table-itemcontents-productprice">₱790.00</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
  
  

{% endblock %}