{% extends '.BASE.html' %}
{% load static %}
{% block content %}

<div class="MOD-register-pagecontent">
    <div class="MOD-register-pagecontent-2nd mx-auto d-flex flex-column">
        <div class="MOD-register-pagecontent-3rd d-flex flex-column user-select-none">
            <div class="MOD-register-title w-100 d-flex align-items-center justify-content-center">
                <span class="MOD-table-title-span">REGISTER</span>
            </div>
            <form class="MOD-register-form d-flex flex-column" action="" method="post">
                {% csrf_token %}
                <div class="MOD-register-input w-100 d-flex flex-wrap">
                    {{ form.as_p }}
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <button class="MOD-button-register MOD-Secondary-Color-bg btn text-center" type="submit">REGISTER</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %} 