{% load static %}
<footer class="w-100">

    <div class="MOD-Secondary-Color-bg container-fluid mx-auto mt-4">
        <div class="MOD-footer mx-auto d-flex justify-content-between user-select-none">
            <div class="d-flex align-items-center">
                <span class="MOD-footer-copyright">© 2024 TAGPRISE, Inc. All Rights Reserved</span>
            </div>
            <div class="MOD-header-links-ul d-flex flex-row">
                <a class="MOD-header-links-a nav-link">TERMS OF USE</a>
                <a class="MOD-header-links-a nav-link">PRIVATE POLICY</a>
            </div>
        </div>
    </div>
    
</footer>