{% extends '.BASE.html' %}
{% load static %}
{% block content %}

<div class="MOD-register-pagecontent">
    <div class="MOD-register-pagecontent-2nd mx-auto d-flex flex-column">
        <div class="MOD-register-pagecontent-3rd d-flex flex-column user-select-none">
            <div class="MOD-register-title w-100 d-flex align-items-center justify-content-center">
                <span class="MOD-table-title-span">EDIT PROFILE</span>
            </div>
            <form class="MOD-register-form d-flex flex-column" action="" method="post">
                {% csrf_token %}
                <div class="MOD-register-input w-100 d-flex flex-wrap">
                    {{ form.first_name }}
                    {{ form.last_name }}
                    {{ form.username }}
                    {{ form.email }}
                </div>
                <div class="MOD-edituser-button w-50 mx-auto d-flex flex-column">
                    <button class="MOD-button-register MOD-Secondary-Color-bg btn text-center" type="submit">SUBMIT</button>
                </form>
                    <a href="{% url 'delete_user' %}" class="MOD-button-register MOD-Secondary-Color-bg btn text-center" type="submit">DELETE ACCOUNT</a>
                </div>
        </div>
    </div>
</div>

{% endblock %} 