{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #F08000">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="Cursor-Pointer nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="Cursor-Pointer nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo">Login</a>
        </li>
        <li class="Cursor-Pointer nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
        </li>
        
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'home' %}" method="post">
                  {% csrf_token %}
                  <form>
                      <div class="mb-3">
                          <!-- <label for="first_name">Name</label> -->
                        <input type="text" class="form-control" name="username", placeholder="Username" required>
                      </div>
                      <div class="mb-3">
                          <!-- <label for="password">Password</label> -->
                          <input type="password" class="form-control" name="password", placeholder="Password" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'home' %}" method="post">
                  {% csrf_token %}
                  <form>
                      <div class="mb-3">
                          <!-- <label for="first_name">Name</label> -->
                        <input type="text" class="form-control" name="username", placeholder="Username" required>
                      </div>
                      <div class="mb-3">
                          <!-- <label for="password">Password</label> -->
                          <input type="password" class="form-control" name="password", placeholder="Password" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="background-color: #60D3A3;">Search</button>
      </form>
    </div>
  </div>
</nav>