/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "Britannic Bold";;

*/

@font-face {
    font-family: "BritannicTLig V2";
    src: url("https://db.onlinewebfonts.com/t/6b70eb8a725040a0ca4fe0d0ac0ae943.eot");
    src: url("https://db.onlinewebfonts.com/t/6b70eb8a725040a0ca4fe0d0ac0ae943.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6b70eb8a725040a0ca4fe0d0ac0ae943.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6b70eb8a725040a0ca4fe0d0ac0ae943.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6b70eb8a725040a0ca4fe0d0ac0ae943.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6b70eb8a725040a0ca4fe0d0ac0ae943.svg#BritannicTLig V2")format("svg");
}

@font-face {
    font-family: "BritannicTMed";
    src: url("https://db.onlinewebfonts.com/t/ae973bf3116a22334b22d7f52c5dabbf.eot");
    src: url("https://db.onlinewebfonts.com/t/ae973bf3116a22334b22d7f52c5dabbf.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ae973bf3116a22334b22d7f52c5dabbf.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ae973bf3116a22334b22d7f52c5dabbf.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ae973bf3116a22334b22d7f52c5dabbf.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ae973bf3116a22334b22d7f52c5dabbf.svg#BritannicTMed")format("svg");
}